/* переменные для цветов, размеров и т.п.*/
:root {
    --main-color: 122, 65, 163;
    --accent-color: 65, 163, 106;
    --text-color: 46, 51, 48;
    --muted-text-color: 70, 57, 78;
    --light-text-color: 255, 255, 255;
}

/* базовые стили для страниц */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rbga(var(--text-color), 1);
}
/* верхняя строка */
header {
    background-color: rgba(var(--main-color), 1);
    color: rgba(var(--light-text-color), 1)
}
.navbar-brand, .navbar-brand:hover {
    color:rgba(var(--light-text-color), 1);
}
.navbar-nav .nav-link {
    color: rgba(var(--light-text-color), 0.8);
}
.navbar-nav .nav-link:hover {
    color: rgba(var(--light-text-color), 1);
}
.navbar-nav .nav-link.active {
    color: rgba(var(--light-text-color), 1);
    text-decoration: underline;
}
/* основной контент */
main {
    flex: 1;
}
/* футер */
footer {
    background: rgba(var(--text-color), 1);
    color: rgba(var(--light-text-color), 1);
}
/* кнопки */
.btn-shop {
    background-color: rgba(var(--main-color), 1);
    color: rgba(var(--light-text-color), 1);
}
.btn-shop:active, .btn-shop:focus, .btn-shop:hover {
    background-color: rgba(var(--main-color), 1);
    box-shadow: inset 0 0 100px -100px #00000033;
}

/* навигация (каталог) */
.nav-link {
    color: rgba(var(--main-color), 1);
}
.nav-link:hover {
    color: rgba(var(--light-text-color), 1);
    background-color: rgba(var(--main-color), 0.75);
}
.nav-link.active {
    color: rgba(var(--light-text-color), 1);
    background-color: rgba(var(--main-color), 1);
}

/* карточки товаров */