/* переменные для цветов, размеров и т.п.*/
:root {
    --main-color: 122, 65, 163;
    --accent-color: 65, 163, 106;
    --text-color: 46, 51, 48;
    --muted-text-color: 70, 57, 78;
    --light-text-color: 255, 255, 255;
}

/* базовые стили для страниц */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rbga(var(--text-color), 1);
}
/* верхняя строка */
header {
    background-color: rgba(var(--main-color), 1);
    color: rgba(var(--light-text-color), 1)
}
.navbar-brand, .navbar-brand:hover {
    color:rgba(var(--light-text-color), 1);
}
.navbar-nav .nav-link {
    color: rgba(var(--light-text-color), 0.8);
}
.navbar-nav .nav-link:hover {
    color: rgba(var(--light-text-color), 1);
}
.navbar-nav .nav-link.active {
    color: rgba(var(--light-text-color), 1);
    text-decoration: underline;
}
/* основной контент */
main {
    flex: 1;
}
/* футер */
footer {
    background: rgba(var(--text-color), 1);
    color: rgba(var(--light-text-color), 1);
}
/* кнопки */
.btn-shop {
    background-color: rgba(var(--main-color), 1);
    color: rgba(var(--light-text-color), 1);
}
.btn-shop:active, .btn-shop:focus, .btn-shop:hover {
    background-color: rgba(var(--accent-color), 1);
    color: rgba(var(--light-text-color), 1);
}

/* навигация (каталог) */
.nav-link {
    color: rgba(var(--main-color), 1);
}
.nav-link:hover {
    color: rgba(var(--light-text-color), 1);
    background-color: rgba(var(--main-color), 0.75);
}
.nav-link.active {
    color: rgba(var(--light-text-color), 1);
    background-color: rgba(var(--main-color), 1);
}

/* карточки товаров */
.product-card {
    padding: 0.5rem;
    border: none;
}
.product-card>.card-body {
    display: flex; /*включаем flex*/
    flex-direction: column;
    justify-content: flex-start;
}
.product-card>.card-body>.card-title {
    /* ограничиваем количество строк в названии товара */
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-card>.card-body>.card-text {
    margin-bottom: auto; /*этот блок автоматически будет занимать все доступное пространство снизу, что позволит "приклеить" кнопки к низу карточки*/
    /* ограничиваем количество строк в описании */
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.product-card>.card-body>button {
    margin-top: 5px; 
}

/* баннеры на главной странице */
.main-carousel .carousel-item {
    height: 300px;
    overflow: hidden;
}
.main-carousel img { /* размещаем картинки по центру */ 
    object-fit: contain; /* определяем поведение картинки, оптимальные варианты: contain - вместить картинку во всю доступную высоту, cover - вместить картинку расширив до макс.ширины */
    width: 100%;
    height: 100%;
}
/* добавляем градиент для боковых блоков-кнопок карусели */
.main-carousel .carousel-control-prev {
    background-image: linear-gradient(to right, white, white 50%, transparent);
    opacity: 1;
}
.main-carousel .carousel-control-next {
    background-image: linear-gradient(to left, white, white 50%, transparent);
    opacity: 1;
}